$containerMaxWidth: 1230px;
$containerMinwidth: 320px;
$containerPadding: 15px;
$gutter: 20px;


$fontSize: 16px;
$lineHeight: 1.65;
$fontfamily: "Montserrat",
sans-serif;


$md1: 1200;
$md2: 991.98;
$md3: 767.98;
$md4: 575.98;


$acentColor: #594741;
$colorBold: #574540;