.lmp-section-auth {

   .section-title {
      margin-bottom: 0;
   }

   .auth-form {
      max-width: 380px;
      width: 100%;
      text-align: center;
      padding: 0 10px;

      &__title {
         font-size: 18px;
         color: #594741;
         margin-bottom: 50px;

         @media (max-width:$md3+px) {
            font-size: 14px;
         }

         @media (max-width:$md4+px) {
            padding: 0 15px;
         }
      }

      &__label {
         position: relative;
         display: flex;
         justify-content: space-between;
         margin-bottom: 20px;
         border: 1px solid #ededed;
         padding: 11px 20px;
         border-radius: 30px;

         @media (max-width:$md2+px) {
            margin-bottom: 15px;
         }
      }

      &__label-tel {

         &:hover,
         &:focus {
            .auth-form__label-tooltip {
               display: block;
            }
         }
      }

      &__label-icon {
         margin-right: 20px;

         i {
            &:before {
               font-size: 28px;
               color: #594741;

               @media (max-width:$md2+px) {
                  font-size: 18px;

               }
            }
         }

      }

      &__label-input {
         font-family: 'Montserrat';
         font-size: 18px;
         width: 100%;
         outline: none;
         border: none;
         color: #594741;


         @media (max-width:$md2+px) {
            font-size: 12px;
         }

         &::placeholder {
            color: #999999;
            font-family: 'Montserrat';
            font-size: 18px;
            text-align: left;
            letter-spacing: 0.16px;

            @media (max-width:$md2+px) {
               font-size: 12px;
            }
         }
      }

      &__label-error {
         position: absolute;
         top: 100%;
         left: 5px;
         color: #ff5c5c;
         font-size: 12px;
         display: none;
      }

      &__label-tooltip {
         display: none;
         position: absolute;
         bottom: 100%;
         right: 0;
         max-width: 165px;
         color: #594741;
         padding: 9px;
         background-color: #fff;
         border-radius: 5px;
         box-shadow: 0 2px 13px rgba(0, 0, 0, .2);
         text-align: center;
         font-size: 12px;

         &:after {
            content: '';
            position: absolute;
            top: 100%;
            left: 58%;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 6px 7.5px 0 7.5px;
            border-color: #ffffff transparent transparent transparent;
         }
      }

      &__btn {
         color: #574540;
         font-family: "Montserrat";
         font-size: 18px;
         text-align: center;
         letter-spacing: 2px;
         border-radius: 38px;
         padding: 20px 44px;
         background-color: #f7e2c3;
         transition: background 0.3s;
         margin-bottom: 30px;

         @media (max-width:$md2+px) {
            font-size: 12px;
            padding: 10px 30px;
            margin-bottom: 20px;
         }

         @media (min-width:$md2+px) {
            width: 100%;
         }

         &:hover {
            background-color: #594741;
            color: #fff;
            border-color: transparent;
         }
      }

      &__text {
         font-size: 14px;
         text-align: center;
         margin-bottom: 30px;
         color: #999999;

         @media (max-width:$md4+px) {
            padding: 0 10px;
         }

         @media (max-width:$md2+px) {
            font-size: 12px;
            margin-bottom: 20px;
         }
      }
   }
}

.login-or-register {
   font-size: 18px;
   color: #999999;
   text-align: center;

   @media (max-width:$md2+px) {
      font-size: 14px;
   }

   a {
      color: #594741;
      text-decoration: underline;
   }
}